<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Aproko - Login</title>
	<link rel="stylesheet" href="/css/loginStyles.css">
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="limiter">
		<div class="wrap-login100 p-t-90 p-t-30">
			<div class="titlePanel mb-3 text-center">
				<h1>Aproko | Login</h1>
			</div>
			<div>
				<a href="/auth/google" class="loginButton bg2 mb-2">
					<i class="fa fa-google"></i>
						Sign In With Google
				</a>
	
				<a href="/auth/facebook" class="loginButton bg1">
					<i class="fa fa-facebook-official"></i>
							Sign In with Facebook
				</a>
			</div>
		</div>
		
	</div>
</body>
</html>